@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import './assets/css/media.css';
@import './assets/css/carousel.css';
@import './assets/css/hero.css';
@import './assets/css/collapse.css';
@import './assets/css/contactus.css';

:root {
  --primary: #53612f;
  --secondary: #2d3b09;
  --gray-primary: #6f6f6f;
}

body, html, #root {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
}

button:active, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.component {
  max-width: 1200px;
  margin: 0 auto;
}
